@import './variables.scss';
@import './transitions.scss';

@mixin toolbar {
  z-index: $z-toolbars;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
}

@mixin toolbar-container {
  width: min(100vw, 768px);
  background: $toolbar-bg-color;
  backdrop-filter: blur(3px);
  padding: 0.25rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin popup {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  background: $bg-color;
  border: 1px solid lightgray;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin: 0.5rem 1rem;
  max-height: 50vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin breakpoint-small {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin breakpoint-large {
  @media (min-width: 768px) {
    @content;
  }
}
