$bg-color: #fafafa;
html {
  --toolbar-bg-color: color-mix(in srgb, var(--theme-color) 65%, transparent);
  --toolbar-border-color: color-mix(in srgb, var(--theme-color) 50%, rgba(255, 255, 255, 0.1));
}

// z-index
$z-dark-mode-overlay: 800;
$z-toolbars: 1000;
